@page
@model OneMoreTime.Pages.Doc.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Doctors[0].DocFn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctors[0].DocLn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctors[0].Specialty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Doctors) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocFn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocLn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialty)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DoctorID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DoctorID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DoctorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
